*{
 font-family: 'Source Sans Pro', sans-serif;;
}
body{
    background-color: #EDEDED;
}
.container-narrow{
    margin: 0 auto;
    padding: 30px;
    max-width: 1000px;
}
.fadeIn(){
  opacity: 0.01;
}
a{
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}
#titleHr{
    height: 1px;
    width: 1px;
    background-color: black;
    position: relative;
    top: 65px;
}
.col-sm-12{
		color: black;
		margin-top: 15px;
		text-align: center;
		padding: 20px 0;
	}
.title{
    font-size: 50px;
    width: 100%;
    text-align: center;
    display: none;
    position: absolute;
    z-index: 1;
    color: black;
    height: 0px;
}
#menuItems{
  position: absolute;
  top: 370px;
  width: 100%;
  z-index: 1;
  background-color: #34495e;
  height: 60px;
}
.homePageMenuButtons{
    text-align: center;
    color: black;
    cursor: pointer;
    padding-top: 15px;
    color: white;
    font-size: 18px;
}
.homePageMenuButtons:hover{
  color: dodgerblue;
}
#execBtn{
    display: none;
}
#pastEventsBtn{
    display: none;
}
#contactUsBtn{
    display: none;
}
.menuBtnLine{
    position: relative;
    top: -17px;
    width: 1px;
    border: none;
    background-color: #0084B0;
    height: 0px;
}
#titleNum{
    font-size: 50px;
}
.footerDiv{
    background-color: black;
    min-height: 150px;
}
#aboutSec{
    text-align: center;
    height: 200px;
    background-color: #fffbdd;
    position: relative;
    color: #161616;
    font-size: 18px;
}
.missionStatements{
  position: relative;
  color: white;
  height: 200px;
  padding-top: 30px;
  text-align: center;
  margin: 0px;
    background-color: #c0392b;
}
.down{
    position: relative;
    top: 17px;
    left: 8px;
    width: 0;
    height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 10px solid #0091C2;
}
.up{
    position: relative;
    top: -17px;
    left: 8px;
    width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 10px solid #0091C2;
    display: none;
}
#footerRow{
    position: relative;
    top: 50px;
}
.infoCard{
  background-color: #27ae60;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
  padding-top: 8px;
  position: relative;
}
#eventInfoCard{
  position: relative;
  width: 300px;
  margin: 0px auto;
  top: -50px;
  font-size: 18px;
background-color: #27ae60;
    border: 1px solid white;
}
#eventInfoCardp:hover{

}
::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #EBEBEB;
}

:-moz-placeholder { /* Firefox 18- */
  color: #EBEBEB;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #EBEBEB;
}

.img-container {
    position:relative;
    padding-top: 280px;
}
.eventPhoto{
    width:100%;

}
.parallax {
    min-height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#missionImg{
  position: relative;
  height: 300px;
  background-image: url("http://res.cloudinary.com/dcbmrov8f/image/upload/v1480302212/banner_mq7oa4.jpg");
}
/*footer*/
#joinUsLink{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: Century Gothic, sans-serif;
    padding: 2px;
    position: relative;
    top: -10px;
}
#joinUsLink:hover{
    color: dodgerblue;
}
#emailUsLink{
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: Century Gothic, sans-serif;
  padding: 2px;
  position: relative;
  top: -10px;
}
#emailUsLink:hover{
    color: dodgerblue;
}
.socialMediaLink{
    color: white;
    font-size: 15px;
    text-decoration-color: white;
    position: relative;
    margin-top: 10px;
}
.socialMediaLink:hover{
    color: dodgerblue;
}
#twitterIcon{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: Century Gothic, sans-serif;
    padding: 2px;
    position: relative;
    top: -10px;
}
#twitterIcon:hover{
    color: dodgerblue;
}
#facebookIcon{
    position: relative;
    left: -14px;
    top: -10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: Century Gothic, sans-serif;
    padding: 2px;
}
#facebookIcon:hover{
    color: dodgerblue;
}
/*exec team*/
.profileName{
  position: relative;
    margin-top: 20px;
  font-size: 18px;
}
.profileDesc{
  position: relative;
    min-height: 400px;
}
.eventTitle{
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 24px;
    color: white;
    margin-top: 0px;
}
.eventP{
    position: relative;
    margin: 20px;
    font-size: 18px;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.eventCard{
    margin: 0px;
}
/*navbar*/
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar li { color: #000; }
ul.nav a {color: grey !important;}
.navbar-header{ color: grey !important; }
ul.nav a:hover { color: black !important; }
.navbar-header a:hover { color: black !important; }


.navbar-toggle{
    border: none;
    height: 40px;
}

.navbar-collapse{border: none;}

#navbarColTitle:hover{
    background-color: transparent;
}
#navbarColMenu{
    background-color: transparent;
}
#navbarColMenu:hover{
    background-color: transparent;
}
