*{
 font-family: Verdana;
}
body{
    background-color: #EDEDED;
}
.container-narrow{
    margin: 0 auto;
    padding: 30px;
    max-width: 1000px;
}
a{
  text-decoration: none;
  cursor: pointer;
}
a:hover {
    text-decoration: none;
}
.col-sm-12{
		color: black;
		margin-top: 15px;
		text-align: center;
		padding: 20px 0;
	}
.title{
    font-family: Driod Sans;
    font-size: 50px;
    width: 100%;
    text-align: center;
    display: none;
    position: absolute;
    z-index: 1;
    color: white;
    height: 0px;
}
#menuItems{
  position: absolute;
  top: 370px;
  width: 100%;
  z-index: 1;
}
.homepagemenubuttons{
    text-align: center;
    color: black;
    cursor: pointer;
    padding-top: 20px;
    color: white;
}
#execbtn{
    display: none;
}
#pasteventsbtn{
    display: none;
}
#contactusbtn{
    display: none;
}
.menubtnline{
    position: relative;
    top: -17px;
    width: 1px;
    borer: none;
    background-color: #0084B0;
    height: 1px;
}
#titlenum{
    font-size: 43px;

}
#infoboxes{
    position: relative;
    text-align: center;
}
.footerdiv{
    background-color: black;
    height: 200px;
}
#aboutSec{
    text-align: center;
    height: 200px;
    background-color: #2c3e50;
    position: relative;
    color: white;
}
.missionStatements{
  position: relative;
  color: white;
  height: 200px;
  padding-top: 30px;
  text-align: center;
  margin: 0px;
}
.down{
    position: relative;
    top: 17px;
    left: 8px;
    width: 0;
    height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 10px solid #0091C2;
}
.up{
    position: relative;
    top: -17px;
    left: 8px;
    width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 10px solid #0091C2;
    display: none;
}
.abouth{
    cursor: pointer;
    display: none;
}
#footerrow{
    position: relative;
    top: 50px;
}
#newssub{
    padding: 3px;
    outline: none;
    border: 1px solid black;
    border-bottom: 1px solid white;
    background-color: black;
    color: white;
    width:100%;
    margin-top: 50px;
}
.infoCard{
  background-color: #ecf0f1;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
  padding-top: 8px;
}
#eventInfoCard{
  position: relative;
  width: 300px;
}

::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #EBEBEB;
}

:-moz-placeholder { /* Firefox 18- */
  color: #EBEBEB;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #EBEBEB;
}

.img-container {
    position:relative;
    padding-top: 280px;
}
.eventPhoto{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
}
.parallax {
    min-height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#missionImg{
  position: relative;
  height: 300px;
  background-image: url("http://res.cloudinary.com/dcbmrov8f/image/upload/v1480302212/banner_mq7oa4.jpg");
}
/*footer*/
#joinuslink{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: Century Gothic, sans-serif;
    border: 1px solid white;
    padding: 2px;
    position: relative;
    top: -10px;
}
#joinuslink:hover{
    color: dodgerblue;
    border: 1px solid dodgerblue;
}
.socialmedialink{
    color: white;
    font-size: 15px;
    text-decoration-color: white;
    position: relative;
    margin-top: 10px;
}
.socialmedialink:hover{
    color: dodgerblue;
}
#twitter-icon{
    position: relative;
    top: -10px;
}
#facebook-icon{
    position: relative;
    left: -14px;
    top: -10px;
}

/*exec team*/
.profileName{
  position: relative;
  top: -55px;
  font-size: 18px;
}

/*pastevents page*/
#timeevents{
    font-family: Verdana;
}
#titlehr{
    height: 1px;
    width: 1px;
    background-color: black;
}
#eventDescP{
  /*text-align: center;*/
}
.profileDesc{
  position: relative;
  top: -50px;
}

/*navbar*/
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar li { color: #000; }
ul.nav a {color: grey !important;}
.navbar-header{ color: grey !important; }
ul.nav a:hover { color: black !important; }
.navbar-header a:hover { color: black !important; }


.navbar-toggle{
    border: none;
    height: 40px;
}

.navbar-collapse{border: none;}

#navbarcoltitle:hover{
    background-color: transparent;
}
#navbarcolmenu{
    background-color: transparent;
}
#navbarcolmenu:hover{
    background-color: transparent;
}
